.rpicam-device .rpicam-preview-thumb {
  margin-top: -1px;
  width: 34px;
  height: 34px;
  display: inline-block;
}

.rpicam-device .preview-buttons {
  margin: 5px 10px 5px 0 !important;
  position: absolute;
  right: 0;
  top: 0;
}

.rpicam-device .preview-buttons .ui-btn {
  vertical-align: top;
  margin-top: -2px;
  margin-bottom: 0;
}