div#rpicam(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    a(href='#index', data-role='button', data-icon='arrow-l', data-iconpos='left', 
      data-inline='true', data-transition="slide", data-direction="reverse")=__('Back')
    h3=__('Rpicam')
  div.ui-content.overthrow
    div.rpicam-full-previw
      img#rpicam-full-previce-img(data-bind="attr: {src: previewImageUrl }")
    div.rpicam-crontrols
      a.ui-btn.ui-mini.ui-btn-inline.ui-corner-all(data-bind="click: onRecordVideoPress, text: videoButtonText, jqmbutton: {enabled: enabled() && !hasPendingAction()}")
      a.ui-btn.ui-mini.ui-btn-inline.ui-corner-all(data-bind="click: onCaptureImagePress, jqmbutton: {enabled: enabled() && !recording() && !hasPendingAction()}")=__('Capture Image')
      a.ui-btn.ui-mini.ui-btn-inline.ui-corner-all(data-bind="click: onEnableCameraPress, text: startCameraText, jqmbutton: {enabled: !recording() && !hasPendingAction()}")